@import '~styles/variables.less';
@import '~styles/mixins.less';

.ant-btn.custom-btn {
  background-color: transparent;
  padding: @padding-tiny @padding-medium;
  height: max-content;
  border-radius: @border-radius-regular;
  font-weight: bold;
  
  &-primary {
    border: 2px solid @primary-color;
  }

  &-default {
    border: 2px solid @border-color-base;
  }

  &-default:hover {
    background-color: transparent;
    border-color: darken(@border-color-base, 15%);
  }

  &-primary:hover {
    background-color: transparent;
    border-color: darken(@primary-color, 15%);
  }

  &-clear {
    border: 2px solid @warning-color;
  }

  &-clear:hover {
    background-color: transparent;
    border-color: darken(desaturate(@warning-color, 25%), 15%);
  }

  &-delete {
    border: 2px solid @red-color;
  }

  &-delete:hover {
    background-color: transparent;
    border-color: darken(@red-color, 15%);
  }

  &:hover {
    background-color: transparent;
    color: @text-color;
  }

  &:focus, &:active {
    background-color: transparent;
    .focused-btn();
  }
}

.ant-btn-sm.custom-btn {
  padding: @padding-minimal @padding-tiny;
  font-size: @font-size-very-small;
  border-radius: @border-radius-small;
}