@import '~styles/mixins.less';
@import '~styles/variables.less';
@import '~styles/breakpoints.less';

.room {
  .center-horizontally();
  margin-top: @margin-big;
  padding-bottom: @padding-scrollbar;
  padding-right: @padding-small;

  &-content {
    &-select-option {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: @w-xl) {
  .room {
    .full-size();
    align-items: center;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    &-content {
      .editing-panel-content();
      margin-top: 0;
    }
  }
}

@media screen and (min-width: @w-xxl) {
  .room {
    align-items: center;

    &-content {
      margin-top: 0;
    }
  }
}


@media screen and (min-width: @w-xxxl) {
  .room {
    &-content {
      .editing-panel-content-big()
    }
  }
}