@import '~styles/variables.less';
@import '~styles/mixins.less';

.reservation-summary {
    padding-top: @padding-tiny;
    border-top: 2px solid @border-color-base;

    &-item {
        .center-vertically();
    
        &:not(:last-child) {
            margin-bottom: @margin-medium;
        }

        &-details {
            margin-left: @margin-small;
        }
    }

    &-action {
        margin-top: @margin-big;

        &-btn:not(:first-child) {
            margin-left: @margin-small;
        }
    }
}