@import '~styles/variables.less';
@import '~styles/breakpoints.less';

.sidebar {
    position: relative;
    height: 100%;
    z-index: 10;
    &-wrapper {
        position: absolute;
        background: @primary-bg;
        width: @sidebar-width;
        height: 100%;

        &-close { 
            position: absolute;
            top: 20px;
            right: 15px;
        }
    
        &-header {
            padding: @padding-big @padding-medium 0 @padding-medium;
    
            &-content {
                margin-bottom: @margin-tiny;
    
                &-link {
                    padding: 0 @padding-tiny @padding-tiny @padding-tiny;
                    color: @text-color;
                }
        
                &-link:focus {
                    outline: 2px solid @border-color-base;
                    width: max-content;
                    height: max-content;
                }
    
                &-link:hover {
                    color: @text-color;
                    text-decoration: underline;
                }
            }
        }
    
        &-top {
            padding: 0 @padding-medium;
        }
    
        &-bottom {
            padding: 0 @padding-medium;
        }
    }

}

.site-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: @black;
    opacity: @mask-opacity;
}

@media screen and (min-width: @w-between) {
    .sidebar {
        &-wrapper {
            position: relative;
            border-radius: @border-radius-regular;
            box-shadow: @box-shadow-mild;

            &-close {
                display: none;
            }
        }
    }
    
    .site-mask {
        display: none;
    }
}