@import '~styles/variables.less';

.sidebar {
    background: @primary-bg;
    width: @sidebar-width;
    border-radius: @border-radius-regular;
    height: 100%;
    box-shadow: @box-shadow-mild;

    &-header {
        padding: @padding-medium @padding-medium 0 @padding-medium;

        &-content {
            margin-bottom: @margin-tiny;

            &-link {
                padding: @padding-tiny;
                color: @text-color;
            }
    
            &-link:focus {
                outline: 2px solid @border-color;
                width: max-content;
                height: max-content;
            }

            &-link:hover {
                color: @text-color;
                text-decoration: underline;
            }
        }

    }

    &-top {
        padding: 0 @padding-medium;
    }

    &-bottom {
        padding: 0 @padding-medium;
    }
}