@import '~styles/mixins.less';
@import '~styles/variables.less';
@import '~styles/breakpoints.less';

.room-types {
  .full-size();
  .center();

  &-content {
    width: @default-panel-width;
    min-height: @default-panel-height;
  }
}

@media screen and (min-width: @w-xxxl) {
  .room-types {
    &-content {
      width: @big-panel-width;
      height: @big-panel-height;
    }
  }
}