@import '~styles/mixins.less';
@import '~styles/variables.less';
@import '~styles/breakpoints.less';

.room-types {
  .full-size();
  .center-horizontally();

  &-content {
    margin-top: @margin-huge;
    width: @default-panel-width;
    height: @default-panel-height;

    &-item {
      &-date {
        color: @text-color-secondary;
      }

      &-color {
        margin-top: @margin-tiny;
        color: @black;
        text-align: center;
        width: 100px;
        padding: @padding-minimal @padding-small;
      }
    }
  }
}

@media screen and (min-width: @w-xxl) {
  .room-types {
    align-items: center;

    &-content {
      margin-top: 0;
    }
  }
}


@media screen and (min-width: @w-xxxl) {
  .room-types {
    &-content {
      width: @big-panel-width;
      height: @big-panel-height;
    }
  }
}