@import '~styles/mixins.less';
@import '~styles/variables.less';
@import '~styles/breakpoints.less';

.room-types {
  .full-size();
  .center-horizontally();

  &-content {
    .editing-panel-content();

    &-item {

      &-name {
        font-weight: bold;
      }
      
      &-date {
        min-width: 60px;
        color: @text-color-secondary;
      }

      &-color {
        margin-top: @margin-tiny;
      }
    }
  }
}

@media screen and (min-width: @w-xxl) {
  .room-types {
    align-items: center;

    &-content {
      margin-top: 0;
    }
  }
}


@media screen and (min-width: @w-xxxl) {
  .room-types {
    &-content {
      .editing-panel-content-big();
    }
  }
}