@import '~styles/variables.less';

.two-column {
  display: flex;
  background-color: @primary-bg;
  padding: @padding-small;
  border-radius: @border-radius-regular;
  box-shadow: @box-shadow-mild;
  &-left {
    width: 50%;
    border-right: 2px solid @border-color-base;
    padding: @padding-small;
  }
  &-right {
    width: 50%;
    padding: @padding-small;
  }
}