@import '~styles/variables.less';
@import '~styles/mixins.less';

.reservation-panel {
    &-divider.ant-divider-horizontal.ant-divider-with-text.huge-divider {
        margin: 0;
    }

    &-switcher {
        .center-horizontally();
        margin-bottom: @margin-medium;
    }

    &-container {
        .full-size();
        background-color: @primary-bg;
        padding: @padding-small;
        border-radius: @border-radius-regular;
        box-shadow: @box-shadow-mild;
        &-table {
            overflow: auto;
            padding-bottom: @padding-small;
        }
    }
    

    &-summary {
        margin-top: @margin-small;
    }
}

.block-table {
    border-collapse: separate;
    border-spacing: 12px;
    width: 2500px;
    &-row {

        &-header {
            background-color: @reservation-block-color;
            color: @black;
            height: 35px

        }
        &-col {
            border-right: 2px solid @secondary-bg;
        }

        &-room {
            border-top: 2px solid @secondary-bg;
        }

        &-time {
            background-color: @reservation-block-color;
            cursor: pointer;
            border-radius: @border-radius-regular;
            transition: background-color @animation-duration-base;

            &:hover {
                background-color: @primary-color;
            }
        }

        &-reserved {
            text-align: center;
            color: @black;
        }
    }
}