@import '~styles/variables.less';
@import '~styles/mixins.less';

.reservation-panel {
    &-divider.ant-divider-horizontal.ant-divider-with-text.huge-divider {
        margin: 0;
    }

    &-switcher {
        .center-horizontally();
        margin-bottom: @margin-medium;
    }

    &-container {
        .full-size();
        background-color: @primary-bg;
        padding: @padding-small;
        border-radius: @border-radius-regular;
        box-shadow: @box-shadow-mild;

        &-content {
            display: flex;
            overflow: auto;
            padding-bottom: @padding-small;

            &-left {
                height: max-content;
                border-right: 2px solid @border-color-base;
            }
    
            &-right {
                height: max-content;
            }
    
            &-row {
                padding-bottom: @padding-small;
                border-bottom: 2px solid @border-color-base;
                display: inline-flex;
                width: max-content;
    
                &-right {
                    &-container:first-child {
                        margin-left: @margin-small;
                    }

                    &-time-block {
                        margin-right: @margin-small;
                        &-reserved {
                            width: 38px;
                            border-radius: 0;
                        }

                        &-reserved:last-of-type {
                            margin-right: @margin-small;
                        }
                    }
                    &-chunk {
                        height: 30px;
                    }
                    
                    &-chunk:first-child {
                        margin-left: 12px;
                    }
                }
            }
    
            &-row:not(:first-child) {
                margin-top: @margin-small;
            }
    
            &-header-block-left, &-header-block-right {
                margin-left: @margin-small;
                background-color: @reservation-block-color;
                height: 30px;
            }

            &-header-block-left:last-child, &-header-block-right:last-child {
                margin-right: @margin-small
            }
            
            &-header-block-left {
                width: 150px;
            }
    
            &-header-block-right {
                flex-shrink: 0;
                width: 150px;
            }
        }

        &-summary {
            margin-top: @margin-small;
        }
    }
}