@import '~styles/variables.less';

.calendar-item {
  background-color: @secondary-bg;
  border: none;
  border-radius: @border-radius-calendar;
  box-shadow: @box-shadow-tiny;
  border-left: 3px solid @border-color-base;
  cursor: pointer;
  
  &-normal {
    border-color: @primary-color;
  }

  &-another-month-day {
    border-color: @calendar-day-disabled;
    color: @calendar-day-disabled;
    cursor: not-allowed;
  }

  &-before-today {
    border-color: @calendar-day-disabled;
  }

  &-today {
    border-color: @link-color;
  }

  &-dayoff {
    border-color: @red-color;
  }
}