@import '~styles/variables.less';
@import '~styles/mixins.less';

.room-reservation {
    .center();
    width: 100%;
    height: max-content;
    &-content {
        width: @default-panel-width;
    }
}