@import '~styles/variables.less';
@import '~styles/mixins.less';
@import '~styles/breakpoints.less';


.room-reservation {
    .center();
    width: 100%;
    padding-bottom: @padding-scrollbar;

    &-content {
        width: 100%;
        padding-right: @padding-small;
    }
}

@media screen and (min-height: @w-xl) {
    .home {
      &-content {
        width: @default-panel-width;
      }
    }
  }