@import '~antd/dist/antd.less';
@import '~styles/variables.less';

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @white;
  background-color: @background;
  padding: @padding-big;
}

#root, .app {
  height: 100%;
}
