@import '~antd/dist/antd.less';
@import '~styles/variables.less';

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @white;
  background-color: @background;
  padding: @padding-big;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#root, .app {
  height: 100%;
}

.header-text > sup {
  color: @primary-color;
  text-decoration: underline;
}

.app {
  display: flex;
  &-content {
    width: calc(100% - @sidebar-width);

    main {
      height: 100%;
    }

    &-user-space {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    &-routes {
      height: 100%;
      overflow-y: auto;

      &-container {
        padding-bottom: 80px;
      }
    }
  }
}