.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.opacity-exit {
  opacity: 1;
}

.come-left-enter {
  transform: translateX(-600px);
}

.come-left-enter-active {
  transform: translateX(0);
  transition: transform 500ms;
}

.come-left-exit {
  transform: translateX(0);
}

.come-left-exit-active {
  transform: translateX(-600px);
  transition: transform 300ms;
}