@import '~styles/variables.less';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.focused-btn {
  color: @text-color;
  border-color: @focus-color;
  box-shadow: @box-shadow-grey;
}

.full-size {
  width: 100%;
  height: 100%;
}