@import '~styles/variables.less';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

// use this when parent has min-height
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.focused-btn {
  color: @text-color;
  border-color: @focus-color;
  box-shadow: @box-shadow-grey;
}

.full-size {
  width: 100%;
  height: 100%;
}

.editing-panel-content {
  margin-top: @margin-huge;
  width: @default-panel-width;
  height: @default-panel-height;
}

.editing-panel-content-big {
  width: @big-panel-width;
  height: @big-panel-height;
}

.header-no-margin {
  margin-block-start: 0;
  margin-block-end: 0;
}

.panel-layout {
  background-color: @primary-bg;
  padding: @padding-small;
  border-radius: @border-radius-regular;
  box-shadow: @box-shadow-mild;
}