// COLORS
@primary-bg: #26262E;
@background: #000000;
@primary-color: #1FB2BC;
@warning-color: #FB8375;
@link-color: #F3B300;
@error-color: #E5231B;
@heading-color: #FFFFFF;
@text-color: #FFFFFF;
@border-color-base: #C9CAD9;
@text-color-secondary: #CBCBCB;
@font-size-base: 16px;

// LAYOUT
@sidebar-width: 330px;

// PADDING
@padding-huge: 36px;
@padding-big: 24px;
@padding-medium: 16px;
@padding-small: 12px;
@padding-tine: 6px;

// MARGIN
@margin-huge: 36px;
@margin-big: 24px;
@margin-medium: 16px;
@margin-small: 12px;
@margin-tine: 6px;


// BORDER RADIUS
@border-radius-regular: 6px;
@border-radius-small: 3px;
