// COLORS
@primary-bg: #26262E;
@background: #000000;
@primary-color: #1FB2BC;
@warning-color: #FB8375;
@link-color: #F3B300;
@error-color: #E5231B;
@heading-color: #FFFFFF;
@text-color: #FFFFFF;
@border-color-base: #C9CAD9;
@text-color-secondary: #CBCBCB;
@font-size-base: 16px;
