@import '~styles/mixins.less';
@import '~styles/breakpoints.less';
@import '~styles/variables.less';

.home {
  .center();
  width: 100%;
  height: max-content;
  padding-bottom: @padding-scrollbar;
  
  &-content {
    width: 100%;
    padding-right: @padding-small;
  }
}

@media screen and (min-width: @w-md) {
  .home {
      &-content {
          width: 80%;
      }
  }
}

@media screen and (min-width: @w-xl) {
  .home {
    &-content {
      width: @default-panel-width;
    }
  }
}

@media screen and (min-height: @h-xxl) {
  .home {
    height: 100%;
  }
}

@media screen and (min-width: @w-xxxl) {
  .home {
    &-content {
      width: @big-panel-width;

      &-calendar {
        .calendar-content-dates {
          grid-auto-rows: 100px;
        }
      }
    }
  }
}